@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective-1000 {
    perspective: 1500px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }

  .face {
    @apply absolute w-full h-full bg-slate-100 dark:bg-gray-700 mt-2 rounded-lg shadow-lg p-6 mb-4 backface-hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  /* .face-front {
    transform: translateZ(300px);
  }

  .face-right {
    transform: rotateY(90deg) translateZ(300px);
  }

  .face-back {
    transform: rotateY(180deg) translateZ(300px);
  } */
}